<div class="main-content">
    <div class="section-content">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
            <div class="col" *ngFor="let tempProduct of products">
              <div class="card h-100">
                <a routerLink="/products/{{ tempProduct.id }}">
                    <img class="card-img-top" src="{{ tempProduct.imageUrl }}">
                </a>
                <div class="card-body">
                    <a class="text-decoration-none" routerLink="/products/{{ tempProduct.id }}">
                        <h6 class="card-title">{{ tempProduct.name }}</h6>
                    </a>
                </div>
                <!-- <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button> -->
              </div>
            </div>
        </div>
        <div class="container-fluid">
            <ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pagesize"
                [collectionSize]="totalsize" [maxSize]="8"
                [boundaryLinks]="false" (pageChange)="listProducts()">
            </ngb-pagination>
        </div>
    </div>
</div>






