<div class="container-fluid" style="padding-top: 100px;">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4">
    <div class="col" *ngFor="let product of products">
      <div class="card h-100">
        <a [routerLink]="['/products', product.id]">
          <img class="card-img-top" [src]="product.imageUrl">
        </a>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <a class="text-decoration-none" [routerLink]="['/products', product.id]">
                <span class="card-title">{{ product.name }}</span>
              </a>
            </div>
            <div class="col">
              <div class="p-3">{{ product.unitPrice | currency:'USD' }}</div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-sm" (click)="addToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="container">
    <ngb-pagination class="d-flex justify-content-center" (pageChange)="listProducts()" [(page)]="page" [pageSize]="pagesize" [collectionSize]="totalsize" [boundaryLinks]="false">
    </ngb-pagination>
  </div>
</div>
