[mysqld]
skip-log-bin
innodb_ft_min_token_size=2
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4
general-log-file=/var/log/mysql/mysqld.log 

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
